.contact-page {
  font-family: 'Arial', sans-serif;
}

.contact-hero-section {
  background-color: #6cb4ee;
  color: #333;
}

.contact-hero-section h1 {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}

.contact-hero-section p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.form-label {
  color: #555;
}

.form-control {
  border-radius: 0;
  border: 2px solid #ddd;
}

.form-control:focus {
  border-color: #f0ad4e;
  box-shadow: none;
}

.btn-primary-contactus {
  background-color: #f0ad4e;
  border: none;
}

.btn-primary-contactus:hover,
.btn-primary-contactus:focus {
  background-color: #eb9c2d;
}

/* Style the Contact Information Card */
.card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contactI {
  color: #191d88;
  font-size: 1.5rem;
}
